services:
  mongo:
    image: mongo:6.0
    container_name: market_mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - market_net

  redis:
    image: redis:alpine
    container_name: market_redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    networks:
      - market_net
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 3s
      retries: 5

  ingestor:
    build:
      context: .
      dockerfile: deployment/Dockerfile.ingestor
    container_name: market_ingestor
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - market_net
    volumes:
      - ./.env:/app/.env
    restart: always

  processor:
    build:
      context: .
      dockerfile: deployment/Dockerfile.processor
    container_name: market_processor
    depends_on:
      redis:
        condition: service_healthy
      mongo:
        condition: service_started
    networks:
      - market_net
    volumes:
      - ./.env:/app/.env
    restart: always

  api:
    build:
      context: .
      dockerfile: deployment/Dockerfile.api
    container_name: market_api
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_healthy
      mongo:
        condition: service_started
    networks:
      - market_net
    volumes:
      - ./.env:/app/.env
    restart: always

volumes:
  mongo_data:
  redis_data:

networks:
  market_net:
    driver: bridge
